a[href$=".ru"]{
    color:#f70;
}
a[href*="google"] {
    color:#666;
}
[target="_blank"]:after {
    content: '\2197';
    border-right: 1px solid;
    border-top: 1px solid;
    display: inline-block;
    margin-left: 5px;
    font-size: 9px;
    }
